@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color-gray-dark: #1f1f1f;
  --page-header-height: 50px;
}

@import "./buttons.css";
@import "./synced-lyrics.css";
@import "./page.css";

body, #root {
  height: 100vh;
  overflow: hidden;
}