@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color-gray-dark: #1f1f1f;
  --theme-color-gray-darker: rgb(24, 24, 24);
  --page-header-height: 50px;
  --playback-height: 52px;
  --lyrics-color-background: transparent;
  --lyrics-color-highlight: #fff;
  --lyrics-color-text: #fff;
}

@import "./buttons.css";
@import "./lyrics-viewer.css";
@import "./page.css";
@import "./playback.css";
@import "./synced-lyrics.css";
@import "./unsynced-lyrics.css";

body, #root {
  height: 100vh;
  overflow: hidden;
}